/* Footer */
#footer {
    /* font */
    font-family: Poppins;
    left: -1%;
    /* Dimensions */
    width: 100%;
    /* color */
    background-color: #f0f0f0;

}
#footer a{
    color: #f38993;
    font-weight: bolder;
}
#footer a:hover,#footer a:focus {
    transition: 0.5s;
    color: #be5f87;
    text-decoration: none;
}

#footer strong{
    font-family: Bazzi; 
    font-size:20px;
}